# Proyecto 1

In [1]:
# librería Natural Language Toolkit, usada para trabajar con textos 
import nltk
# Punkt permite separar un texto en frases.
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
# Descarga todas las palabras vacias, es decir, aquellas que no aportan nada al significado del texto

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
# Descarga de paquete WordNetLemmatizer, este es usado para encontrar el lema de cada palabra
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

# Importaciones

In [4]:
 # Instalación de librerias
import pandas as pd
import numpy as np
import sys
from markupsafe import escape
#from pandas_profiling import ProfileReport - No sirveeeeeeeeeeee

import re, string, unicodedata
import contractions
import inflect
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer

from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, HashingVectorizer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import classification_report, confusion_matrix, plot_precision_recall_curve
from sklearn.base import BaseEstimator, ClassifierMixin

import matplotlib.pyplot as plt

# Carga de datos

In [5]:
data=pd.read_csv('SuicidiosProyecto.csv', sep=',', encoding = 'utf-8')
data_s=data

In [6]:
data_s.head()

   Unnamed: 0                                               text        class
0      173271  i want to destroy myselffor once everything wa...      suicide
1      336321  I kinda got behind schedule with learning for ...  non-suicide
2      256637  I'm just not sure anymoreFirst and foremost: I...      suicide
3      303772  please give me a reason to liveThats too much ...      suicide
4      293747  27f struggling to find meaning moving forwardI...      suicide

In [8]:
data_s['class'].value_counts()

non-suicide    110165
suicide         85535
Name: class, dtype: int64

# Limpieza de datos

### Remover puntuacion

In [9]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
data_s['words']= data_s['text'].apply(lambda x:remove_punctuation(x))
data.head()

,Unnamed: 0,text,class,words
0,173271,i want to destroy myselffor once everything wa...,suicide,i want to destroy myselffor once everything wa...
1,336321,I kinda got behind schedule with learning for ...,non-suicide,I kinda got behind schedule with learning for ...
2,256637,I'm just not sure anymoreFirst and foremost: I...,suicide,Im just not sure anymoreFirst and foremost Im ...
3,303772,please give me a reason to liveThats too much ...,suicide,please give me a reason to liveThats too much ...
4,293747,27f struggling to find meaning moving forwardI...,suicide,27f struggling to find meaning moving forwardI...

### Transformar todo a minusculas

In [11]:
data_s['words']= data_s['words'].apply(lambda x: x.lower())
data.head()

,Unnamed: 0,text,class,words
0,173271,i want to destroy myselffor once everything wa...,suicide,i want to destroy myselffor once everything wa...
1,336321,I kinda got behind schedule with learning for ...,non-suicide,i kinda got behind schedule with learning for ...
2,256637,I'm just not sure anymoreFirst and foremost: I...,suicide,im just not sure anymorefirst and foremost im ...
3,303772,please give me a reason to liveThats too much ...,suicide,please give me a reason to livethats too much ...
4,293747,27f struggling to find meaning moving forwardI...,suicide,27f struggling to find meaning moving forwardi...

### Tokenizar

In [12]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
data_s['words']= data_s['words'].apply(lambda x: tokenization(x))
data.head()

,Unnamed: 0,text,class,words
0,173271,i want to destroy myselffor once everything wa...,suicide,[i want to destroy myselffor once everything w...
1,336321,I kinda got behind schedule with learning for ...,non-suicide,[i kinda got behind schedule with learning for...
2,256637,I'm just not sure anymoreFirst and foremost: I...,suicide,[im just not sure anymorefirst and foremost im...
3,303772,please give me a reason to liveThats too much ...,suicide,[please give me a reason to livethats too much...
4,293747,27f struggling to find meaning moving forwardI...,suicide,[27f struggling to find meaning moving forward...

# Normalización